<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testScript.MenModuleTest"/>
      <class name="testScript.CartPageTest"/>
      <class name="testScript.WelcomePageTest"/>
      <class name="testScript.AccountProfileTest"/>
      <class name="testScript.SigninTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
